.admin-container {
    padding: 20px;
    text-align: center;
  }
  
  .admin-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .admin-header h1 {
    margin: 0;
    font-size: 2rem;
    color: #333;
  }
  
  .admin-header p {
    margin: 5%;
    font-size: 1.2rem;
    color: #666;
  }
  
  .logout-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #d72a2a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
  }
  
  .logout-button:hover {
    background-color: #cc0000;
  }
  
  .usuarios-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .usuario-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .usuario-card h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .usuario-card p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #555;
  }
  
  .usuario-card label {
    font-size: 1rem;
    color: #555;
    display: flex;
    align-items: center;
  }
  
  .usuario-card input[type="checkbox"] {
    margin-left: 10px;
  }
  