.admin-container {
  padding: 20px;
  text-align: center;
  min-height: 100vh;
  display:flexbox;
}

.admin-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  background-color: #98de93;
  padding: 20px;
  border-radius: 8px;
  color: #ffffff;
}

.admin-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.admin-header p {
  margin: 0;
  font-size: 1.2rem;
}

.logout-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #134308;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 15%;
  margin-left: 80%;
}

.logout-button:hover {
  background-color: #195c21;
}

.usuarios-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.usuario-card {
  background: #ffffff;
  border: 1px solid #045c23;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(43, 160, 78, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.usuario-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 115, 230, 0.2);
}

.usuario-card h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #004e00;
}

.usuario-card p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #555;
}

.usuario-card label {
  font-size: 1rem;
  color: #24950e;
  display: flex;
  align-items: center;
}

.usuario-card input[type="checkbox"] {
  margin-left: 10px;
}
