.ingresos {
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-ingreso-button {
  font-size: 25px;
  padding: 12px;
  line-height: 1;
  width: 10%;
}

.ingresos-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4%;
}

.ingresos-list {
  flex: 1;
  margin-right: 20px;
}

.ingreso {
  background-color: #acdab0;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex; /* Añadido */
  justify-content: space-between; /* Añadido */
  align-items: center; /* Añadido */
}

.ingreso-details {
  text-align: center; /* Añadido */
  flex: 1; /* Añadido */
}

.grafica {
  flex: 0 0 400px;
  display: flex;
  justify-content: center;
}

.delete-ingreso-button {
  color: #6c757d;
  margin-right: 5%; /* Añadido */
  width: 10%;
}

.delete-ingreso-button:hover {
  color: #dc3545;
}